// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

//adapted for Spa Patrimoine colorhunt palette 201686
$light-gray: #F1F3F8;
$light-blue: #D6E0F0;
$blue: #8D93AB;//= primary
$gray: #393B44;
