<nav class="flex-shrink-0 flex justify-end bg-gray-600 p-2 text-white">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Admin
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% if current_user %>
        <li>
          <%= link_to "Administration", admin_path, class: "dropdown-item" %>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
