<div class="w-10/12 mx-auto p-3 m-16">
    <h2>Créez un nouveau type d'activité</h2>
    <%= simple_form_for @activity_type do |f| %>
        <%= f.input :title, label: 'Titre' %>
        <%= f.submit 'Soumettre' %>
    <% end %>
</div>