<div class="w-10/12 mx-auto">
    <div>
        <img src="<%= @actuality.image %>" />
    </div>

    <div>
        <h2><%= @actuality.title %></h2>
    </div>

    <div>
        <p><%= @actuality.description %></p>
    </div>
</div>