<div class="w-10/12 mx-auto p-3 m-16">
   <h1>Vision et mission </h1>
   <br>
   <p>Spa sera prochainement, nous l’espérons vivement, reconnu par l’Unesco, avec une dizaine d’autres villes thermales comme élément du patrimoine mondial de l’Humanité. 
   C’est l’ensemble de la station thermale qui est ainsi mise en valeur pour son environnement naturel, ses sources, ses thermes, ses infrastructures de loisirs, ses promenades, ses villas, etc.
   Chacun, habitant, second-résident, visiteur amoureux de Spa est concerné par ce « label Unesco » et doit contribuer à rendre Spa plus belle.
   Cependant, ce patrimoine spadois, qu’il soit public ou privé est souvent trop peu valorisé, parfois mal entretenu et même menacé. 
   </p>
   <br>

   <h1>Spa Patrimoine asbl veut contribuer à la sauvegarde et la valorisation du patrimoine architectural, naturel & culturel de Spa </h1>
   <br>
   <ul>
      <li>Sensibiliser les Spadois à l’intérêt de leur patrimoine et aux notions de qualité architecturale et paysagère en organisant des conférences et des visites d’immeubles. </li>
      <li>Transmettre des informations historiques, archéologiques et techniques au sujet du patrimoine classé, répertorié à l’IPIC, du PPPW ou d’éléments d’intérêt paysager. </li>
      <li>Informer les propriétaires qui possèdent un bien répertorié à l’inventaire du patrimoine de l’importance de conserver les éléments caractéristiques de leur bien et nous mettre à leur disposition pour leur apporter une aide aux démarches administratives (informations relatives à la réglementation portant sur les biens à valeur patrimoniale, (subsides, protections, autorisations, etc)  </li>
   </ul>
</div>