<%# BANNER %>
<%= image_tag("city.jpeg", class: "h-64 w-100 object-cover") %>

<%# ACTIVITIES %>

<div class="m-4">
  <h2 class="text-xl text-center font-bold">Nos Activités</h2>
  <div class="flex flex-wrap">
    <% 4.times do %>
      <div class="bg-gray-300 flex-grow p-16 m-4">
      </div>
    <% end %>
  </div>
</div>

<%# ACTUALITIES %>

<div class="m-4">
  <h2 class="text-xl text-center mb-4 font-bold">Nos Actualités</h2>
  <div class="flex flex-wrap">
    <% 4.times do %>
      <div class="flex w-100 mb-4">
        <div class="bg-gray-300 p-16 mx-4"></div>
        <div>
          <h6 class="font-bold">Titre</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
