<div class="w-10/12 mx-auto p-3 m-16">
   <h1>Devenez membre !</h1>
   <br>
   <p>La meilleure façon de suivre nos activités de près et de les soutenir c'est de devenir membre de l'asbl Spa Spatrimoine. 
   </p>
   <br>

   <h1>Pour nous rejoindre et contribuer à nos actions en faveur du patrimoine spadois, payez votre contisation : </h1>
   <br>
   <ul>
      <li>- membre ADHERENT : 20€ </li>
      <li>- membre EFFECTIF : 50€ </li>
      <li></li>
   </ul>
    <p>À verser sur le compte n° BE42 5230 8119 6654 de SPA PATRIMOINE ASBL, avec la communication "cotisation année 20XX, prénom nom" 
   </p>

</div>