.appel {
    //position: absolute;
    //bottom: 0;
    //right: 0;
    //width: 40%;
    height: calc(50vh - 100px);
    border: 1px solid black;
    margin-top: 80px;
   // margin-right: 100px ;

    
}