.appel {
    //position: absolute;
    //bottom: 0;
    //right: 0;
    //width: 40%;
    height: calc(50vh - 40px);
    border: 1px solid black;
    
  margin-top: 150px;
    margin-right: 100px ;

    
}