#map {

  height: calc(50vh - 40px);
  //width: 40%;
  width: 100%;
  //position: absolute;
  //position: sticky;
  top: 66px;
  right: 0;
  .mapboxgl-canvas {
    position: absolute;
    top: 0;
    right: 0;
    height: 100% !important;
    width: auto !important;
  }
}
