.patrimoine-cards {
  //code Loic
  //display: flex;
  //flex-wrap: wrap;
  //width: 60%;
  //height: calc(100vh - 135px);
  //overflow: scroll;
  //width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-grow: 1;
}

@media(max-width: 992px) {
  .patrimoine-cards{
    grid-template-columns: 1fr 1fr
  }
}

@media(max-width: 768px) {
  .patrimoine-cards{
    grid-template-columns: 1fr
  }
}


.patrimoine-card {
  position: relative;
  background-size: cover;
  background-position: center;
  //width: 33%;
  //height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 8px;
  img {
    height: 150px;
    width: 100%;
  }
  h2 {
    position: absolute;
    top: 50%;
    bottom: -50%;
    padding: 10px;
    text-align: center;
  }
}
