<div>
    <img src="<%= @activity.image %>" />
</div>

<div>
    <h2><%= @activity.title %></h2>
</div>

<div>
    <p><%= @activity.description %></p>
</div>

<div>
    <h2><%= @activity.date %></h2>
</div>